
<template>
    <div class="card p-10">
        <h1 class="text-3xl font-semibold pb-3">Konfirmasi Pengajuan Pinjaman</h1>
        <Panel class="border-solid">
            <template #header>
                <div class="flex align-items-center gap-2">
                    <span class="font-semibold pl-1">Cari Pinjaman</span>
                </div>
            </template>
            <div class="card w-full">
                <Message severity="info">
                    Cari nomor handphone nasabah untuk mencari data pinjaman, kemudian masukkan OTP yang dikirimkan kepada
                    CS
                    Admin.
                </Message>
            </div>
            <div class="card flex">
                <div class="flex flex-wrap flex-col w-6/12 whitespace-nowrap">
                    <label for="nomor">Nomor handphone nasabah <sup class="text-red-500">*</sup></label>
                    <InputText id="nomor" v-model="value" class="border-2 bg-gray-300 p-2 " disabled
                        placeholder="No Telp" />
                </div>
            </div>
            <Button class="my-5 p-2 bg-gray-500 text-white text-center" type="button" label="Reset" disabled />
            <div class="card flex flex-col">
                <div class="flex flex-wrap flex-col w-6/12 gap-2 py-2">
                    <label for="nomor">Nama Nasabah</label>
                    <InputText id="nomor" v-model="value" class="border-2 bg-gray-300 p-2 " disabled
                        placeholder="Nama Nasabah" />
                </div>

                <div class="flex flex-wrap flex-col w-6/12 gap-2 py-2">
                    <label for="nomor">Nama Account Officer</label>
                    <InputText id="nomor" v-model="value" class="border-2 bg-gray-300 p-2" disabled placeholder="Nama AO" />
                </div>
                <div class="flex flex-wrap flex-col w-6/12 gap-2 py-2">
                    <label for="nomor">Kode OTP <small class="text-red-500">*</small></label>
                    <InputText id="nomor" v-model="value" class="border-2 p-2" />
                </div>
            </div>
            <Button class="my-5 p-2 bg-blue-500 text-white text-center" type="button" label="Konfirmasi" />
        </Panel>
    </div>
</template>

<script setup>
definePageMeta({
    layout: 'admin'
})
const value = ref('');
</script>
<style scoped>
.custom-width {
    width: 100%;
}
</style>