
<template>
    <div class="card p-10">
        <h1 class="text-3xl font-semibold pb-3">Konfirmasi Pengajuan Pinjaman</h1>
        <Panel class="border-solid sm:h-screen">
            <template #header>
                <div class="flex items-center gap-2">
                    <span class="font-semibold">Cari Pinjaman</span>
                </div>
            </template>
            <Message severity="info" class="flex flex-wrap">
                Cari nomor handphone nasabah untuk mencari data pinjaman, kemudian masukkan OTP yang dikirimkan kepada CS
                Admin.
            </Message>
            <div class="card flex">
                <div class="flex flex-wrap flex-col gap-2 w-6/12 whitespace-nowrap">
                    <label for="nomor">Nomor handphone nasabah<span class="text-red-500">*</span></label>
                    <InputText id="nomor" v-model="value" class="border-2 py-2" />
                </div>
            </div>
            <div class="text-red-500">
                {{ valueError }}
            </div>
            <Button icon="pi pi-search" class="my-5 p-2 bg-blue-600 text-white text-center" type="button"
                label="Cari Pinjaman" @click="inputValue" />
        </Panel>
    </div>
</template>

<script setup>
definePageMeta({
    layout: 'admin'
})

const value = ref('');
const valueError = ref('');

const inputValue = () => {
    valueError.value = ''
    if (valueError.value === 'validInput') {
        console.log('input successfull');
    } else {
        if (value.value !== 'validInput') {
            valueError.value = '*Invalid Number'
        }
    }
}

</script>
