<template>
    <div class="flex flex-row">
        <header class="w-full fixed">
            <Menubar >
                <template #start>
                    <div class="flex items-center justify-center">
                        <NuxtLink to="/">
                            <img alt="logo" src="/img/digimod-l.png" class="ml-5 h-8" />
                        </NuxtLink>
                    </div>
                </template>
                <template #end>
                    <div class="flex items-center space-x-4">
                        <div class="card flex justify-center">
                            <Button type="button" icon="pi pi-bars" @click="toggleSidebar"></Button>
                        </div>
                        <div>{{ username }}</div>
                        <div class="card flex justify-center">
                            <Button type="button" icon="pi pi-user" severity="info" rounded aria-label="User"
                                @click="toggle" aria-haspopup="true" aria-controls="overlay_tmenu" />
                            <TieredMenu ref="menu" id="overlay_tmenu" :model="items" popup>
                                <template v-slot:tieredmenuitem="slotProps">
                                    <NuxtLink :to="slotProps.item.to">
                                        {{ slotProps.item.label }}
                                    </NuxtLink>
                                </template>
                            </TieredMenu>
                        </div>
                    </div>
                </template>
            </Menubar>
        </header>

        <aside class="flex flex-row mt-20 border-r-solid">
            <Menu :model="sideMenu" :style="{ display: isSidebarHidden ? 'none' : 'block', width: '250px' }"
                class=" h-full">
                <template #item="item">
                    <NuxtLink :to="item.item.to">
                        <p :class="item.item.icon" class="p-5"></p>
                        {{ item.item.label }}
                    </NuxtLink>
                </template>
            </Menu>
        </aside>
        <main class="flex flex-auto flex-wrap justify-center pt-12">
            <slot />
        </main>
    </div>






    <!-- <aside class="w-52 bg-slate-100 fixed h-full text-center justify-center sm:absolute" :class="{ 'hidden': isSidebarHidden }">
            <ul>
                <li v-for="item in sideMenu" :key="item.label">
                    <NuxtLink :to="item.to">
                        <div class="p-4 flex items-center space-x-2 cursor-pointer">
                            <i :class="item.icon"></i>
                            <span>{{ item.label }}</span>
                        </div>
                    </NuxtLink>
                    <ul v-if="item.items" class="ml-4">
                        <li v-for="subItem in item.items" :key="subItem.label">
                            <NuxtLink :to="subItem.to">
                                <div class="p-2 flex items-center space-x-2 cursor-pointer">
                                    <i :class="subItem.icon"></i>
                                    <span>{{ subItem.label }}</span>
                                </div>
                            </NuxtLink>
                        </li>
                    </ul>
                </li>
            </ul>
        </aside> -->
</template>
  
<script setup>
import { ref } from 'vue';



const username = 'CS Admin'

const isSidebarHidden = ref(false);

const toggleSidebar = () => {
    isSidebarHidden.value = !isSidebarHidden.value;
};

const menu = ref()
const items = ref([
    {
        label: 'version: 0.1'
    },
    {
        label: 'My Profile',
        icon: 'pi pi-user',
        to: '/profile'
    },
    {
        label: 'Log Out',
        icon: 'pi pi-sign-out',
        to: '/login'
    }
])
const toggle = (event) => {
    menu.value.toggle(event);
};

const sideMenu = ref([
    {
        label: 'Dashboard',
        icon: 'pi pi-home',
        to: '/',
    },
    {
        label: 'CS Admin',
        items: [
            {
                label: 'Konfirmasi OTP1',
                icon: 'pi pi-lock',
                to: '/admin/konfirmasi1',
            },
            {
                label: 'Konfirmasi OTP2',
                icon: 'pi pi-lock',
                to: '/admin/konfirmasi2',
            },
        ],
    },
    {
        label: 'User',
        items: [
            {
                label: 'Profile',
                icon: 'pi pi-user',
                to: '/profile',
            },
            {
                label: 'Login',
                icon: 'pi pi-sign-in',
                to: '/login',
            },
        ],
    },
]);

</script>

<style scoped></style>