<template>
    <div class="flex justify-center items-center ">
        <h1 class=" text-center">Dashboard</h1>
    </div>
</template>

<script setup lang="ts">
definePageMeta({
    layout: 'admin'
})
</script>

<style scoped></style>