<template>
    <div class="flex flex-wrap justify-center items-center h-screen bg-[url('/img/intro.jpg')] bg-center bg-cover">
        <div
            class="backdrop-blur bg-white/50 bg-cover w-[480px] p-6 rounded-xl font-semibold font-sans drop-shadow-2xl content-center">
            <header class="flex items-center justify-center mx-auto mb-2">
                <img src="/img/digimod-l.png" alt="" class="h-10">
            </header>
            <div class="card flex justify-content-center">
                <div class="flex flex-col gap-2 w-full">
                    <label for="username">Username</label>
                    <InputText id="username" v-model="username" aria-describedby="username-help" class="p-2" />
                    <InlineMessage class="text-red-500" v-if="usernameError">{{ usernameError }}</InlineMessage>
                    <!-- Display username error message -->
                    <label for="password">Password</label>
                    <InputText id="password" type="password" v-model="password" aria-describedby="password-help"
                        class="p-2" />
                    <InlineMessage class="text-red-500" v-if="passwordError">{{ passwordError }}</InlineMessage>
                    <!-- Display password error message -->
                    <Button label="Login" severity="info" raised class="bg-blue-600 p-2 text-white mt-3" @click="login" />
                </div>
            </div>
            <Divider type="solid" />
            <div class="footer text-center my-6 font-extralight">
                <p>© 2022 PT BPR Modern Express</p>
            </div>
        </div>
    </div>
</template>
  
<script setup lang="ts">
import { ref } from 'vue';

const username = ref('');
const password = ref('');
const usernameError = ref('');
const passwordError = ref('');


const login = () => {

    usernameError.value = '';
    passwordError.value = '';

    if (username.value === 'yourValidUsername' && password.value === 'yourValidPassword') {
        console.log('Login successful');
    } else {
        if (username.value !== 'yourValidUsername') {
            usernameError.value = 'Invalid username';
        }
        if (password.value !== 'yourValidPassword') {
            passwordError.value = 'Invalid password';
        }
    }
};
</script>
  
<style scoped></style>
  