
<template>
    <div class="card p-10 w-full">
        <h1 class="text-3xl font-semibold pb-3">Profile Pengguna</h1>
        <Panel class="border-solid">
            <template #header>
                <div class="flex align-items-center gap-2">
                    <span class="font-semibold pl-3">Cari Pinjaman</span>
                </div>
            </template>
            <div class="card flex flex-col">
                <div class="flex w-full px-3 flex-col gap-2 py-2">
                    <label>Username</label>
                    <InputText id="nomor" v-model="value" class="border-2 py-2" />
                </div>

                <div class="flex w-full px-3 flex-col gap-2 py-2">
                    <label>Nama</label>
                    <InputText id="nomor" v-model="value" class="border-2 py-2" />
                </div>

                <div class="flex w-full px-3 flex-col gap-2 py-2">
                    <label>No Telepon</label>
                    <InputText id="nomor" v-model="value" class="border-2 py-2" />
                </div>

                <div class="flex w-full px-3 flex-col gap-2 py-2">
                    <label>Email</label>
                    <InputText id="nomor" v-model="value" class="border-2 py-2" />
                </div>

                <div class="flex w-full px-3 flex-col gap-2 py-2">
                    <label>Kode Kantor</label>
                    <InputText id="nomor" v-model="value" class="border-2 py-2" />
                </div>

                <div class="flex w-full px-3 flex-col gap-2 py-2">
                    <label>Role</label>
                    <InputText id="nomor" v-model="value" class="border-2 py-2" />
                </div>
            </div>
        </Panel>
        <Panel class="border-solid pt-5">
            <template #header>
                <div class="flex items-center gap-2">
                    <i class="pi pi-lock pl-3"></i>
                    <span class="font-semibold">Pengamanan</span>
                </div>
            </template>
            <Button class="p-2 bg-gray-600 text-white text-center mb-5 ml-3" type="button" label="Ubah Kata Sandi"
                @click="showForm = !showForm" />
            <div class="card flex flex-col" v-if="showForm">
                <div class="flex w-full px-3 flex-col gap-2 py-2">
                    <label>Kata Sandi Lama <sup class="text-red-500">*</sup></label>
                    <InputText id="nomor" v-model="value" class="border-2 py-2" />
                </div>
                <div class="flex w-full px-3 flex-col gap-2 py-2">
                    <label>Kata Sandi Baru <sup class="text-red-500">*</sup></label>
                    <InputText id="nomor" v-model="value" class="border-2 py-2" />
                </div>
                <div class="flex w-full px-3 flex-col gap-2 py-2">
                    <label>Ulangi Kata Sandi Baru <sup class="text-red-500">*</sup></label>
                    <InputText id="nomor" v-model="value" class="border-2 py-2" />
                </div>
            </div>
        </Panel>
    </div>
</template>

<script setup>
definePageMeta({
    layout: 'admin'
})

const value = ref('');
const showForm = ref(false)
</script>
